<h1>Welcome {{user.username}}</h1>
<ul class="sub-nav menu" role="navigation" title="Filter Menu List">
    <li class="sub-nav-title"></li>
    <li class="active"><span class="show-for-sr">You're viewing </span></li>
    <li><a href="#/artist">My Profile</a></li>
    <li><a href="#/guest">Fan Feedback</a></li>
    <li><a href="#/login">Logout</a></li>
</ul>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h2>Artist/Band Name</h2>
        </div>
    </div>
</div>

<div class="row">

    <div class="large-3 columns ">
        <div class="panel">
            <a href="#"><img src="./images/headphones.png" /></a>
            <h5><a href="#">Band Name</a></h5>

        </div>
    </div>
jk

    <div class="large-6 columns">

        <div ng-repeat="song in artistSongList" class="row">
            <h5><B>Artist:</B> {{song.artist}} <b>Title:</b> {{song.title}}</h5>
            <img id="playButton" src="./images/playButton.png" alt="" />
            <audio controls>
                <source ng-src="{{song.file}}" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
            <div ng-model="artistLikes">

            <!-- <button ng-click='like(song.id)'id="like" ng-hide="like(song.id)" type="button" name="up"><img src="./images/thumbs-up.png" alt="" /></button>
            <button ng-click='dislike(song.id)'id="dislike" type="button" name="down"><img src="./images/dislike.png" alt="" /></button> -->

                <button ng-click='like(song.id)'id="like" type="button" name="up"><img src="./images/thumbs-up.png" alt="" /></button>
                <button ng-click='dislike(song.id)'id="dislike" type="button" name="down"><img src="./images/dislike.png" alt="" /></button>
            </div>
            <h5><B>Likes:</B> {{song.likes}}</h5>
            <hr/>
        </div>



    </div>


    <aside class="large-3 columns hide-for-small">
        <h3>Upload Music</h3>
        <form class="" method="post" action="/upload" enctype="multipart/form-data">
            <input type="text" name="artist" value="" placeholder="arist/band">
            <input type="text" name="title" value="" placeholder="song title">
            <input type="text" name="genre" value="" placeholder="genre">
            <input type="file" name="audioFile" class="file-input" placeholder="music">
            <button type="submit" class="file-input" name="button" value="add this song">Upload</button>
        </form>
    </aside>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>&copy; Copyright APitunes. The Iron Yard 2016.</p>
            </div>
        </div>
    </div>
</footer>
