<h1>Welcome {{user.username}}</h1>

<ul class="sub-nav menu" role="navigation" title="Filter Menu List">
  <li class="sub-nav-title"></li>
  <li ng-click='listSongs()' class="active"><span class="show-for-sr">You're viewing </span><a href="#/guest">All</a></li>
  <li><a href="#/guest">Rock</a></li>
  <li><a  href="#/guest">HipHop</a></li>
  <li><a href="#/guest">Pop</a></li>
  <li><a href="#/guest">Country</a></li>
  <li><a href="#/login">Logout</a></li>
</ul>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Top Songs</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-3 columns ">
        <div class="panel">
            <a href="#"><img src="./images/userPicture.png" /></a>
            <!-- <h5><a href="#">Your Name</a></h5> -->
            <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">

            </div>
        </div>
    </div>


    <div class="large-6 columns">

        <div ng-repeat="song in artistSongList" class="row">
          <h4>Uploaded By: {{song.user.username}}</h4>
          <h5>artist: {{song.artist}} Title: {{song.title}}</h5>

          <img id="playButton" src="./images/playButton.png" alt="" />
          <audio controls>
            <source src="" type="audio/mpeg"> Your browser does not support the audio element.
          </audio>
          <div ng-model="guestLikes">
          <button ng-click='like()' id="like" type="button" name="up"><img src="./images/thumbs-up.png" alt="" /></button>
          <button ng-click='dislike()' id="dislike" type="button" name="down"><img src="./images/dislike.png" alt="" /></button>
        </div>
          <h5>Likes: {{song.likes}}</h5>
        </div>
      <hr/>
    </div>


    <aside class="large-3 columns hide-for-small">
        <p><img src="http://placehold.it/300x440&text=[your ad here]" /></p>
        <p><img src="http://placehold.it/300x440&text=[your ad here]" /></p>
    </aside>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>&copy; Copyright APitunes. The Iron Yard 2016.</p>
            </div>
            <!-- <div class="large-7 columns">
                <ul class="inline-list right">
                    <li><a href="#">Section 1</a></li>
                    <li><a href="#">Section 2</a></li>
                    <li><a href="#">Section 3</a></li>
                    <li><a href="#">Section 4</a></li>
                    <li><a href="#">Section 5</a></li>
                    <li><a href="#">Section 6</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>
