.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

h1.ng-scope {
  text-align: center; }

#logoIcon {
  max-width: 6%;
  margin-right: 1%; }

.sub-nav {
  background-color: #f2f2f2;
  padding: 0.5rem 0.5rem 0.5rem 0; }
  .sub-nav li {
    color: #999999;
    font-size: 0.77778rem;
    padding-left: 0.88889rem; }
    .sub-nav li.active a {
      border-radius: 3px;
      background: #008CBA;
      color: #fff;
      cursor: default;
      font-weight: normal;
      padding: 0.16667rem 0.88889rem; }

#playButton {
  width: 10%;
  margin-right: 3%; }

#like, #dislike {
  margin-left: 3%;
  margin-bottom: 1%;
  display: block; }

.sub-nav {
  background-color: #f2f2f2;
  padding: 0.5rem 0.5rem 0.5rem 0; }
  .sub-nav li {
    color: #999999;
    font-size: 0.77778rem;
    padding-left: 0.88889rem; }
    .sub-nav li.active a {
      border-radius: 3px;
      background: #008CBA;
      color: #fff;
      cursor: default;
      font-weight: normal;
      padding: 0.16667rem 0.88889rem; }

#like, #dislike {
  margin-left: 15%;
  margin-bottom: 1%;
  display: block; }

h3 {
  text-align: center; }

#playButton {
  width: 10%;
  margin-right: 3%; }

.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px; }

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  opacity: 0;
  filter: alpha(opacity=0); }

input.file-input {
  padding: .5rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  transition: background-color 300ms ease-out;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

button.file-input {
  margin-left: 57%;
  margin-bottom: 1%;
  padding: .5rem 2rem .5rem 2rem;
  font-size: 1rem;
  background-color: #008CBA;
  border-color: #007095;
  color: #FFFFFF;
  text-align: center;
  font-weight: normal;
  line-height: normal;
  transition: background-color 300ms ease-out;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

form.ng-pristine.ng-valid {
  border: solid 1px lightgray; }

#like.ng-hide-add {
  display: none; }
