.sub-nav {
  background-color: #f2f2f2;
  padding: 0.5rem 0.5rem 0.5rem 0;

  li {
    color: #999999;
    font-size: 0.77778rem;
    padding-left: 0.88889rem;

    &.active a {
      border-radius: 3px;
      background: #008CBA;
      color: #fff;
      cursor: default;
      font-weight: normal;
      padding: 0.16667rem 0.88889rem;
    }
  }
}
#playButton {
  width: 10%;
  margin-right: 3%;
}
#like, #dislike {
  margin-left: 3%;
  margin-bottom: 1%;
  display: block;
}
// .ng-hide {
//   display: none;
// }
