<h1>Welcome {{artist}}</h1>
<ul class="sub-nav menu" role="navigation" title="Filter Menu List">
    <li class="sub-nav-title"></li>
    <li class="active"><span class="show-for-sr">You're viewing </span></li>
    <li><a href="#/artist">My Profile</a></li>
    <li><a href="#/guest">Fan Feedback</a></li>
    <li><a href="#/logout">Logout</a></li>
</ul>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h2>Artist/Band Name</h2>
        </div>
    </div>
</div>

<div class="row">

    <div class="large-3 columns ">
        <div class="panel">
            <a href="#"><img src="./images/headphones.png" /></a>
            <h5><a href="#">Band Name</a></h5>
            <!-- <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
                <section class="section">
                    <h5 class="title"><a href="#">Rock</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#">Hip</a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#"></a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#"></a></h5>
                </section> -->
            <!-- <section class="section">
                    <h5 class="title"><a href="#"></a></h5>
                </section>
                <section class="section">
                    <h5 class="title"><a href="#"></a></h5>
                </section> -->
            <!-- </div> -->
        </div>
    </div>


    <div class="large-6 columns">

        <div class="row">
          <img id="playButton" src="./images/playButton.png" alt="" />
            <audio controls>
                <source src="" type="audio/mpeg"> Your browser does not support the audio element.
            </audio>
            <button id="like" type="button" name="up"><img src="./images/thumbs-up.png" alt="" /></button>
            <button id="dislike" type="button" name="down"><img src="./images/dislike.png" alt="" /></button>
        </div>

        <hr/>

        <div class="row">
            media player
        </div>

        <hr/>

        <div class="row">
            media player
        </div>

    </div>


    <aside class="large-3 columns hide-for-small">
        <h3>Upload Music</h3>
        <form class="" action="/artist" method="post">
            <input type="text" name="name" value="" placeholder="arist/band">
            <input type="text" name="name" value="" placeholder="song title">
            <input type="text" name="name" value="" placeholder="genre">
            <input type="file" class="file-input" placeholder="music">
        </form>
    </aside>
</div>

<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>&copy; Copyright APitunes. The Iron Yard 2016.</p>
            </div>
        </div>
    </div>
</footer>
