<h1>APitunes</h1>
<!-- LOGIN FORM -->
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <form>
      <div class="row column log-in-form">
        <h4 class="text-center">Log in with your account</h4>
        <label>Username
          <input type="text" ng-model='userInput' placeholder="username or artist/band">
        </label>
        <label>Password
          <input type="text" placeholder="Password">
        </label>
        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
        <p><a type="submit" class="button expanded" ng-click='login()'>Log In</a></p>
        <p class="text-center"><a href="#/guest">Login as Guest</a></p>
      </div>
    </form>
  </div>
</div>
